*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(imgs/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
}

::-webkit-scrollbar {
    display: none;
}

img{
    max-width: 250px;
    max-height: 400px;
}

#boss,
#bird,
#shield,
#slime,
#sword{
    display: none;
}

#dog{
    position: absolute;
    bottom: 0;
    animation: doganimation 5s linear forwards;
}
#boss{
    position: absolute;
    bottom: 200px;
}
@keyframes doganimation{
    0%   {left: 0px;}
    90%{opacity: 80;}
    98% {left: 110vw;}
    99%{opacity: 0;}
    100%{opacity: 0;}
}
