@font-face {
    font-family: 'VarelaRound';
    src: url('fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(imgs/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    font-family: 'VarelaRound', sans-serif;
    font-size: 30px;
}
::-webkit-scrollbar {
    display: none;
}

img{
    max-width: 250px;
    max-height: 400px;
}

#sword{
    position: absolute;
    animation: swordanimation 10s linear forwards;
}

#shield{
    position: absolute;
    animation: shieldanimation 20s linear forwards;
}

@keyframes shieldanimation{
    0%{
        right: 0;
        opacity: 0;
    }

    1%{opacity: 0;}

    2%{
        opacity: 100;
        right: 0;
        
    }
    25%{
        right: 57vw;

    }
    30%{
        right: 57vw;
        top: 10vh;
    }
    45%{
        right: 57vw;
        top: 80vh;
    }
    70%{
        right: 57vw;
        top: 10vh;
    }
    
    100%{
        right: -20vw;
        transform: rotate(2000grad);
    }

}

@keyframes swordanimation {
    0%{
        top: 5vh;
        left: 10vw;
    }

    50%{
        top: 30vh;
        left: 70vh;
        transform: rotate(40grad)
    }

    70%{
        top: 30vh;
        left: 70vh;
    }

    100%{
        top: 100vh;
        left: 90vw;
    }
}

#slime{
    position: absolute;
    right: 0;
    bottom: 0;
    animation: slimeanimation 12s linear forwards;
}

@keyframes slimeanimation{
    0%{opacity: 0;}
    39%{opacity: 0;
        right: 0;
        bottom: 0;
    }
    55%{bottom:20vh}
    59%{opacity: 100; bottom:0}
    60%{right: 110vw;}
    100%{opacity: 0;}
}

#dog{
    position: absolute;
    bottom: 0;
    animation: doganimation 22s linear forwards;
}
#bird{
    position: absolute;
    bottom: 200px;
    right: 100px;
    animation: birdanimation 20s linear forwards;
    animation-delay: 13s;
    opacity: 0;
}
#boss{
    position: absolute;
    top: 100px;
    left: 100px;
    animation: bossanimation 20s linear forwards;
    animation-delay: 15s;
    opacity: 0;
}
@keyframes doganimation{
    0%   {left: 0px;}
    20%{left: 110vw;}
    30%{bottom:0px;}
    40%{bottom:500px;}
    50%{
        left:2000px;
        transform: rotate(80grad);
    }
    60%{opacity: 100;}
    80%{left:-110vw;}
    97%{left:-10vw;}
    99%{
        opacity: 0;
        left:-10vw;
}
    100%{
        opacity: 0;
        left:-10vw;
        transform: rotate(0grad)
    }
}
@keyframes birdanimation{
    0%{
        opacity: 100;
        right:100px;
        bottom: 200px;
        transform: rotate(0grad);
    }
    11%{
        right:800px;
        transform: rotate(10grad);
    }
    22%{
        bottom: 700px;
        right:700px;
        transform: rotate(-10grad);
    }
    33%{
        right: 1800px;
        transform: rotate(10grad);
    }
    44%{
        bottom: 100px;
        transform: rotate(-10grad);
    }
    55%{
        right: 500px;
        transform: rotate(10grad);
    }
    66%{
        right: 1200px;
        bottom:300px;
        transform: rotate(-10grad);
        }
    77%{
        right: 100px;
        bottom:800px;
        }
    88%{
        right: 1200px;
        bottom:300px;
        transform: rotate(0grad);
        }
    100%{
        right: 800px;
        bottom:-100px;
        transform: rotate(360grad);
        }

}
@keyframes bossanimation{
    0%{
        opacity: 100;
        top: 100px;
    }
    20%{
        left: 1900px;
        top: 200px;
    }
    40%{
        top: 800px;
        left: 200px;
    }
    60%{
        top: 100px;
        left: 1000px;
        transform: rotate(360grad);
    }
    80%{
        top: 200px;
        left: 500px;
        transform: rotate(180);
    }
    100%{
        top: 1000px;
        left: 1800px;
        opacity: 0;
    }
}

#final-text {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: none;
}