*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(imgs/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
}
img{
    max-width: 250px;
    max-height: 400px;
}

::-webkit-scrollbar {
    display: none;
}

#dog,
#boss,
#bird,
#shield,
#sword{
    display: none;
}

#slime{
    position: absolute;
    right: 0;
    bottom: 0;
    animation: slimeanimation 12s linear forwards;
}

@keyframes slimeanimation{
    0%{opacity: 0;}
    39%{opacity: 0;
        right: 0;
        bottom: 0;
    }
    55%{bottom:20vh}
    59%{opacity: 100; bottom:0}
    60%{right: 110vw;}
    100%{opacity: 0;}
}

@keyframes slimeanimation-left{
    0%   {right: 0px;}
    99% {opacity: 99%;}
    100% {
        right: 110vw;
        opacity: 0;
    }
}

@keyframes slimeanimation-right{
    0%   {left: 0px;}
    99% {opacity: 99%;}
    100% {
        left: 110vw;
        opacity: 0;
    }
}
